@import "tailwindcss";

@layer base {
  :root {
    --color-light-hover: #fcf4ff;
    --color-dark-hover: #2a004a;
    --color-dark-theme: #11001F;
    --font-outfit: 'Outfit', sans-serif;
    --font-joost: 'Joost', sans-serif;
  }
}